/* src/App.css */
.app {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to bottom, #00c6ff, #0072ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.app-header {
  margin-bottom: 20px;
}

.search {
  display: flex;
  gap: 10px;
}

.search input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  width: 200px;
}

.search button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0072ff;
  color: white;
  cursor: pointer;
}

.error {
  color: red;
  margin-top: 10px;
}
